<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header class="p-4 border-b-2 border-orange-600">
        <h1 class="text-center text-4xl font-bold text-orange-600 m-auto">
            <a href="/">Dragon Ballers Shop</a>
        </h1>

        <p class="text-center italic">Shop your heart out with our killer products and services.</p>

        <nav class="text-center">
            <ul class="list-none">
                <li class="inline-block"><a href="/" class="mr-6 font-bold">Home</a></li>
                <li class="inline-block"><a href="/budget" class="mr-6 font-bold">Budget Planning</a></li>
                <li class="inline-block"><a href="/shop" class="mr-6 font-bold">Shopping Cart</a></li>
            </ul>
        </nav>
    </header>

    <form class="shadow p-4 w-1/2 m-auto mt-4">
        <p class="text-red-600">* Indicates that the question is required to be answered</p>
        <br>
        <label for="budget" class="font-semibold text-xl">What is your Budget?<span class="text-red-600">*</span>
            <br></label>
        <input type="number" name="budget" class="border-orange-600 border-2 p-2" required> <br> <br>

        <label for="item-name" class="font-semibold text-xl">Item #1 Name <br></label>
        <input type="text" name="item-name" class="border-orange-600 border-2 p-2"> <br>

        <label for="item-price" class="font-semibold text-xl">Item #1 Price <br></label>
        <input type="number" name="item-price" class="border-orange-600 border-2 p-2"> <br> <br>
    </form>
</body>

</html>