<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>Checkout</title>
</head>

<body>
    {% include './components/navbar.html' %}
    <main>
        <h1 class="font-bold text-3xl text-center p-4">Checkout</h1>
        <div class="container flex justify-center mx-auto">
            <div class="flex flex-col">
                <div class="w-full">
                    <table class="shadow-lg bg-white table-auto items-center text-center min-w-max">
                        <thead>
                            <tr>
                                <th class="bg-blue-100 border text-left px-8 py-4">Name</th>
                                <th class="bg-blue-100 border text-left px-8 py-4">Price</th>
                                <th class="bg-blue-100 border text-left px-8 py-4">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="items-list bg-white divide-y divide-gray-300">
                            {% for cart_item in shopping_items %}
                            <tr class="items-desc">
                                <td>{{cart_item.item}}</td>
                                <td>{{cart_item.price}}</td>
                                <td>{{cart_item.amount}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="mx-auto max-w-xl">
            <form class="space-y-2">
                <p class="text-red-600 p-2">* Indicates that the question is required to be answered</p>
                <div class="grid grid-cols-12 gap-3">
                    <div class="col-span-6">
                        <label for="fname" class="block mb-2 font-semibold text-xl">First Name<span
                                class="text-red-600">*</span>
                            <br></label>
                        <input type="text" name="fname" class="flex-grow w-1/2 border-black border-2 p-2" required> <br>
                    </div>
                    <div class="col-span-6">
                        <label for="lname" class="block mb-2 font-semibold text-xl">Last Name<span
                                class="text-red-600">*</span>
                            <br></label>
                        <input type="text" name="lname" class="flex-grow w-1/2 border-black border-2 p-2" required> <br>
                    </div>
                    <div class="col-span-full">
                        <label for="Address" class="block mb-2 font-semibold text-xl">Address<span
                                class="text-red-600">*</span>
                            <br></label>
                        <input type="text" name="Address" class="flex-grow w-1/2 border-black border-2 p-2" required>
                        <br>
                    </div>
                    <div class="col-span-6">
                        <label for="postal" class="block mb-2 font-semibold text-xl">Postal Code<span
                                class="text-red-600">*</span>
                            <br></label>
                        <input type="text" name="postal" class="flex-grow w-1/2 border-black border-2 p-2" required>
                        <br>
                    </div>
                    <div class="col-span-6">
                        <label for="countries" class="block mb-2 font-semibold text-xl" required>Country<span
                                class="text-red-600">*</span></label>
                        <select id="countries" class="block mb-2 font-semibold text-xl">
                            <option selected="US">United States</option>
                            <option value="CA">Canada</option>
                            <option value="MX">Mexico</option>
                            <option value="AU">Australia</option>
                            <option value="FR">France</option>
                            <option value="DE">Germany</option>
                            <option value="IN">India</option>
                        </select>
                    </div>
                    <div class="col-span-6">
                        <label for="ccnumber" class="block mb-2 font-semibold text-xl">Credit Card Number<span
                                class="text-red-600">*</span>
                            <br></label>
                        <input type="text" name="ccnumber" class="flex-grow w-1/2 border-black border-2 p-2" required>
                        <br>
                    </div>
                    <div class="col-span-6">
                        <label for="cvv" class="block mb-2 font-semibold text-xl">CVV<span class="text-red-600">*</span>
                            <br></label>
                        <input type="text" name="cvv" class="flex-grow w-1/2 border-black border-2 p-2" required> <br>
                        <br>
                    </div>
                    <button class="col-span-full bg-blue-800 text-white p-4 rounded-2xl" type="submit">Place
                        Order</button>
                    <br>
                </div>
            </form>
        </div>
    </main>
    <footer class="bottom-0 w-full bg-gray-800 text-white p-4 text-center">
        Copyright &copy; 2024 Dragon Ballers
    </footer>
</body>

</html>