<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a class="groceries-link" href="">Groceries</a></li>
            <li><a class="school-link" href="">School supplies</a></li>
            <li><a class="devices-link"  href="">Electronic devices</a></li>
            <li><a class="clothes-link"  href="">Clothes</a></li>
        </ul>
    </nav>
    <div class="items-list">
        <div class="row">
            <div class="item">
                <img src="" alt="">
                <div class="items-desc">
                    <h3>{{items}}</h3>
                    <p>price</p>
                    <p>desc</p>
                    <p>quantiity</p>
                </div>
            </div>
            <div class="item">
                <img src="" alt="">
                <div class="items-desc">
                    <h3>item name</h3>
                    <p>price</p>
                    <p>desc</p>
                    <p>quantiity</p>
                </div>
            </div>
            <div class="item">
                <img src="" alt="">
                <div class="items-desc">
                    <h3>{{name}}</h3>
                    <p>price</p>
                    <p>desc</p>
                    <p>quantiity</p>
                </div>
            </div>
        </div>
    </div>
    <div id="python-data" style="display: none;">{{ items|tojson|safe }}</div>
    <script src="../static/script/script.js"></script>

</body>
</html>