<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Shop Items</title>
</head>

<body>
    <!-- {% set items_dict = items|tojson|safe %} -->
    {% include './components/navbar.html' %}

    <div id="sidebar" class="sidebar bg-gray-800 text-white p-4">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        <ul class="list-none">
            <li class="mb-2">Expenses: $0.00</li>
            <li class="mb-2">Your Budget: $0.00</li>
        </ul>
    </div>


    <button class="bg-gray-800 text-white px-2 py-1 mb-4" onclick="w3_open()">☰</button>

    <nav class="shop-nav">
        <ul>
            <li><a class="groceries-link" href="/shop/category/groceries">Groceries</a></li>
            <li><a class="school-link" href="/shop/category/school-supplies">School supplies</a></li>
            <li><a class="devices-link" href="/shop/category/electronic-devices">Electronic devices</a></li>
            <li><a class="clothes-link" href="/shop/category/clothes">Clothes</a></li>
        </ul>
    </nav>

    <div class="items-list w-1/2 m-auto p-4">
        {% for item in items['items'] %}
        <div class="inline-block">
            <img src="../static/images/items/bananas.png" alt={{ item.name }} width="128px" height="128px">
            <p>
                {{ item.name }} <br> ${{ item.price }} <br> {{ item.category.title().replace("-", " ") }} <br> {{
                item.quantity }} Left!
            </p>
            <button class="p-4 bg-purple-600 text-white">Add to Cart</button>
        </div>
        {% endfor %}
    </div>

    <!-- <div id="python-data" style="display: none;">{{ items|tojson|safe }}</div>
    <script>
        var pythonData = JSON.parse(document.getElementById('python-data').textContent)
        const jsonData = JSON.parse(pythonData)
        const divs = document.getElementsByClassName('items-desc')
        for (let i = 0; i < 3; i++) {
            let key = 'item' + (i + 1)
            divs[i].getElementsByTagName('h3')[0].innerText = jsonData['grocery_items'][key]['name']
            divs[i].getElementsByTagName('p')[0].innerText = jsonData['grocery_items'][key]['price']
            divs[i].getElementsByTagName('p')[1].innerText = jsonData['grocery_items'][key]['desc']
            divs[i].getElementsByTagName('p')[2].innerText = jsonData['grocery_items'][key]['quantity']
        }
        for (let i = 3; i < 6; i++) {
            let key = 'item' + ((i - 3) + 1)
            divs[i].getElementsByTagName('h3')[0].innerText = jsonData['electronic_items'][key]['name']
            divs[i].getElementsByTagName('p')[0].innerText = jsonData['electronic_items'][key]['price']
            divs[i].getElementsByTagName('p')[1].innerText = jsonData['electronic_items'][key]['desc']
            divs[i].getElementsByTagName('p')[2].innerText = jsonData['electronic_items'][key]['quantity']
        }
        for (let i = 6; i < 9; i++) {
            let key = 'item' + ((i - 6) + 1)
            divs[i].getElementsByTagName('h3')[0].innerText = jsonData['clothes_items'][key]['name']
            divs[i].getElementsByTagName('p')[0].innerText = jsonData['clothes_items'][key]['price']
            divs[i].getElementsByTagName('p')[1].innerText = jsonData['clothes_items'][key]['desc']
            divs[i].getElementsByTagName('p')[2].innerText = jsonData['clothes_items'][key]['quantity']
        } 
    </script> -->
    <script src="../static/script/script.js"></script>
    <script>
        function w3_open() {
            document.getElementById("sidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("sidebar").style.display = "none";
        }

        const toggleButton = document.getElementById('toggleSidebar');

        toggleButton.addEventListener('click', () => {
            sidebar.classList.toggle('hidden');
        });
    </script>
    {% include './components/footer.html' %}
</body>

</html>