<header class="p-4 border-b-2 border-orange-600 bg-[#1F4788]">
    <h1 class="text-center text-4xl font-bold text-[#F1C40F] m-auto">
        <a href="/">Dragon Ballers Shop</a>
    </h1>

    <p class="text-center italic text-[#F1C40F]">Shop your heart out with our killer products and services.</p>

    <nav class="text-center">
        <ul class="list-none">
            <li class="inline-block"><a href="/" class="mr-6 font-bold text-[#F1C40F]">Home</a></li>
            <li class="inline-block"><a href="/budget" class="mr-6 font-bold text-[#F1C40F]">Budget Planning</a></li>
            <li class="inline-block"><a href="/shop" class="mr-6 font-bold text-[#F1C40F]">Shopping Cart</a></li>
        </ul>
    </nav>
</header>