<header class="p-4 border-b-2 border-orange-600 bg-[#E74C3C]">
    <h1 class="text-center text-6xl font-bold text-[#ffeb00] m-auto">
        <a href="/">Dragon Ballers Store</a>
    </h1>

    <p class="text-center italic text-[#ffeb00]">Shop your heart out with our killer products and services.</p>

    <nav class="text-center">
        <ul class="list-none">
            <li class="inline-block">
                <a href="/" class="mr-6 font-bold text-[#ffeb00] text-xl">Home</a>
            </li>

            <li class="inline-block">
                <a href="/budget" class="mr-6 font-bold text-[#ffeb00] text-xl">Budget Planning</a>
            </li>

            <li class="inline-block">
                <a href="/shop" class="mr-6 font-bold text-[#ffeb00] text-xl">Shopping Cart</a>
            </li>
        </ul>
    </nav>
</header>