<link rel="icon" type="image/x-con" href="{{ url_for('static',filename='images/logo.png') }}">
<header class="p-4 border-b-2 border-orange-600 bg-[#e76a24]">
    <a href="/">
        <img src="../../static/images/logo.png" alt="Dragon Ballers Logo" class="m-auto">
    </a>

    <p class="text-center italic text-[#1c4595]">Better than a Dragon Ball</p>

    <nav class="text-center">
        <ul class="list-none">
            <li class="inline-block"><a href="/" class="mr-6 font-bold">Home</a></li>
            <li class="inline-block"><a href="/checkout" class="mr-6 font-bold">Checkout</a></li>
            <li class="inline-block"><a href="/budget" class="mr-6 font-bold">Budget Planning</a></li>
            <li class="inline-block"><a href="/shop" class="mr-6 font-bold">Shopping</a></li>
        </ul>
    </nav>
</header>